<h1>To Do List - Categories</h1>
<form action="/categories" method="post">
  <label for="new-category">Category description:</label>
  <input id="new-category" name="new-category" type="text">
  <button type="submit">Submit</button>
</form>
