@using ToDoList.Models
<h1>To Do List: Categories</h1>
<ul>
  @foreach(var category in Model)
  {
        <h4>@category.GetName() | <a href="/categories/@category.GetId()/update">Edit</a></h4>
  }
</ul>
<p><a href="/items/new">Add another item</a></p>
<p><a href="/categories/new">Add another category</a></p>
<p><a href="/items">Go to item list</a></p>
<form action="/categories/delete" method="post">
  <button type="submit" name="button">Clear All Categories</button>
</form>
